<zs-side>
	<zs-card main [id]="this.id">
		<div card-header>
			<h2>{{ this.title }}</h2>
			<zs-button
				[id]="this.nuevaCanchaButton.id"
				[label]="this.nuevaCanchaButton.label"
				[type]="this.nuevaCanchaButton.type!"
				[icon]="this.nuevaCanchaButton.icon"
				[iconPosition]="this.nuevaCanchaButton.iconPosition!"
				[hideLabelOnMobile]="this.nuevaCanchaButton.hideLabelOnMobile!"
				[disabled]="this.nuevaCanchaButton.disabled!"
				(onClick)="this.onNuevaCancha()"
			/>
		</div>
		<div card-body>
			<zs-list
				[id]="this.id"
				[columns]="this.columns"
				[items]="this.canchas"
				(onEdit)="this.onEdit($event)"
				(onDelete)="this.onDelete($event)"
			/>
		</div>
	</zs-card>
	@if (this.sidePanelOpened) {
	<zs-crear-editar-cancha
		side
		[isEdition]="this.isEdition"
		[currentCancha]="this.currentCancha"
		(onClose)="this.sidePanelClosed()"
	/>
	}
</zs-side>
