:root {
	--zs-bg-color: #181a20;
	--zs-bg-hover-color: #68696d;
	--zs-bg-surface-color: #23272f;
	--zs-text-primary: #ffffff;
	--zs-text-secondary: #000000;

	// Buttons.
	--zs-btn-primary-bg: transparent;
	--zs-btn-text-primary: whitesmoke;
	--zs-btn-secondary-bg: #282a30;
	--zs-btn-text-secondary: whitesmoke;
	--zs-btn-accent: #3a3e46;
	--zs-btn-danger-bg: #ff4d4d;
	--zs-btn-text-danger: #ffffff;
	--zs-btn-success-bg: #4caf50;
}

body {
	height: 100%;
	margin: 0;
	background-color: var(--zs-bg-color, #ffffff);
	box-sizing: border-box;
	font-family: monospace, sans-serif;
}
